# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause


    config MCUX_COMPONENT_driver.memcon
        bool "memcon"
        select MCUX_COMPONENT_driver.common

        if MCUX_COMPONENT_driver.memcon

        endif
