# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause


    config MCUX_COMPONENT_driver.mcm
        bool "mcm"
        select MCUX_COMPONENT_driver.common

        if MCUX_COMPONENT_driver.mcm

        endif
