# Copyright 2024-2026 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

# core related
config MCUX_HW_CORE
    string
    default "ezhv"

config MCUX_HW_CORE_EZHV
    bool
    default y

config MCUX_HW_CORE_ID
    string
    default "ezhv"

config MCUX_HW_CORE_ID_EZHV
    bool
    default y

config MCUX_HW_DEVICE_CORE
    string
    default "MIMXRT798S_ezhv"

config MCUX_HW_SOC_SERIES_RT
    bool
    default y
